<div class="container my-5"></div>
  <div class="row mx-5">
    <h1>My Tasks</h1>
    <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.title, task_path(task) %></li>
    <% end %>
    </ul>
  </div>
</div>
